<p>
  <strong>Titre :</strong>
  <%= @advertisement.title %>
</p>

<p>
  <strong>Contenu :</strong>
  <%= @advertisement.content %>
</p>

<p>
  <strong>État :</strong>
  <%= @advertisement.state %>
</p>

<%= link_to 'Retour à la liste des annonces', advertisements_path %>
